@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



:root{
    /*colors*/
    --color-primary: #E84855; 
    --color-secondary: #E0EFDA; 
    --color-tertiary: #F6AE2D;

    --color-black: #000000;
    --color-grey: #6b6b6b;
    --color-white: #FFFFFF;

    /*fonts*/
    --font-headline: "Montserrat";
    --font-text: "Open Sans";

    /*units*/
    --unit-tiny: 10px;
    --unit-small: 20px;
    --unit-medium: 60px;
    --unit-large: 80px;
    




    
}